<navbar></navbar>
<div class='container'>
  <div class='row'>
    <div class='well well-sm'>
      <p class='lead'>Welcome to the Test App!</p>
      <p>There are {{totalParts()}} parts in stock.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-8'>
      <ul class='list-unstyled'>
      <car-part *ngFor="let carPart of carParts" [carPart]="carPart"></car-part>
    </ul>
    </div>
    <div class='col-sm-3 col-sm-offset-1 hidden-xs'><about-section></about-section></div>
  </div>
</div>
<footerComp></footerComp>
