<navbar></navbar>
<div class='container'>
  <div class='col-sm-8'>
    <h2>Part {{partId}}</h2>
    <h3 class='lead'>More details about Part {{partId}}</h3>
    <p>Robot ipsum Orthvorous hexadecaiasis papafic dermstat kinegamy umvalent idiotrophy toxiphyll tritotropy.</p>
    <p>Ophidoic androese skewcentric coltonia anteagog cuprsepalous hemoeth. Quartergyne bismutostomy salpingotropism photogen schmonymy ferroistical keratootic Filnomy ectotome.</p>
    <p>Viscoance nominogony ekaescence antepoietic panotropous ilcade uranootomy thiatonia. Telegamy beible hemcy archipenia encephalyne alysis gamoture pneumlogical hecatocolous.</p>
    <p>Lexicoory brephoplast lipphobic triskaidekanomy nucleoion hylics chronchore uberphyta.</p>
    <p><img src='data/test.jpg'></p>
  </div>
  <div class='col-sm-3 col-sm-offset-1 hidden-xs'><about-section></about-section></div>
</div>
<footerComp></footerComp>

<!--When this page loads you would pull in data from an API call-->
