<div class='navbar navbar-static-top'>
  <div class='container'>
    <div class='navbar-header'>
      <a [routerLink] ="['/']" class='navbar-brand'>{{title}}</a>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class=sr-only>Toggle Nav</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>
    <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
      <li><a href='https://angular.io/'>Angular</a></li>
      <li><a href='http://getbootstrap.com/'>Bootstrap</a></li>
    </ul>
  </div>
</div>
